$black: #000;
$white: #fff;
$app-blue: #002852;
$background-notice-green: #329f00;
$time-slot-background: #265962;
$app-yellow-background: #fcda00;
$label-error: #b72617;
$body-text: #333;

$status-green: #629621;
$table-hover-bg: #fbfbfb;
$btn-green: #188028;
$btn-red: #c70000;
$warning-icon-yellow: #ffc33b;
$warning-panel-yellow: #ffefcb;
$warning-panel-text-yellow: #514f4c;
$approved-green: #00b73a;
$pending-yellow: #fdcb3d;
$declined-red: #c70000;
$application-grey-bg: #f3f3f3;
$action-box-grey: #f2f2f2;
$warning-yellow: #f0cb00;
$warning-red: #a74644;
$light-gray: #f5f5f5;
$text-red: #ea0708;
$sub-title-grey: #808080;
$task-priority: #d77500;
$icon-bak-green: #00ac00;
$text-success-green: #009b27;

// application process sections
$complete-green: #00a610;
$header-grey-bg: #f6f6f6;
$status-grey: #9d9d9d;
$incomplete-yellow: #ffc001;
$section-grey-bg: #fdfdfd;
$section-grey-border: #e7e7e7;

// Application tables
$table-grey-bg: #fbfbfb;
$table-grey-border: #e6e6e6;
$table-hover-gray: #f3f3f3;
$table-separate-line: #e6e6e6;
$stage-green: #629621;
$table-grey-text: #b1b1b1;

// Dashboard tasks
$task-priority-bg: #fffdf2;
$task-completed-bg: #f2fdf1;

// Division Create forms
$arrow-bg: #dcdcdc;
$light-grey: #d3d3d3;
// video sessions status
$session-competent: #3eb62f;
$session-not-prepared: #ed6c11;
$session-not-competent: #bb1f11;
$session-technical-difficulties: #4a4aad;
