.tt-menu {
  background-color: #fff;
  border: 1px solid #ddd;
  min-width: 170px;
  border-radius: 3px;

  .tt-suggestion {
    padding: 5px 10px;
    cursor: pointer;

    &.tt-cursor, &:hover {
      background-color: $app-blue;
      color: white;
    }
  }
}

.twitter-typeahead {
  display: block !important;
}