.u-no-padding-h {
  padding-left: 0;
  padding-right: 0;
}

.u-no-padding-v {
  padding-top: 0;
  padding-bottom: 0;
}

.u-no-margin-h {
  margin-left: 0;
  margin-right: 0;
}

.u-no-margin-v {
  margin-top: 0;
  margin-bottom: 0;
}

.u-no-padding-l {
  padding-left: 0;
}

.u-no-padding-r {
  padding-left: 0;
}